.Container {
    background-size: cover;
    background-position: center;
    margin-right: 3px;
    border-right: 2px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-img{
    height: 200px;
    width: 200px;
}